@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

li,
a{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
}

i{
    color: #fff;
}

/* BODY */
.container-flex{
    display: flex;
}

.side-nav{
    width: 10vw;
    height: 90vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.side-nav ul{
    display: flex;
    flex-direction: column;
}

.side-nav ul li{
    flex-basis: 100%;
    display: flex;
}

.side-nav-top img{
    width: 6vw;
    margin: 0.5em 2vw 0;
}

.side-nav-bottom li:first-of-type a{
    color: #fff;
    margin: 1.5em 1.15em;
    font-size: 0.6rem;
}

.side-nav-bottom img{
    width: 5vw;
    margin: 0 2.5vw 0.5em;
    background-color: #808080;
    border-radius: 50%;
    padding: 0 1px;
}

main{
    width: 90vw;
    height: 90vh;
    background-color: #141922;
    overflow-y: auto;
}

.upgrade{
    background-color: rgba(0, 0, 0, 0.5);
    height: 10%;
    position: fixed;
    top: 0;
    right: 0;
    left: 10vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade span{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 1em 2.5em;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 700;
}

.section-menu{
    margin-top: 20%;
}

.section-menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-menu ul li{
    margin: 0 2% 4%;
    text-align: center;
}

.section-menu ul li a{
    text-transform: uppercase;
    color: #686a70;
    font-weight: 700;
    font-size: 0.5rem;
}

.home{
    width: 90%;
    margin: 0.6em auto 0;
}

.home img{
    width: 100%;
}

.home h2{
    text-transform: capitalize;
    color: #fff;
    font-size: 0.9rem;
    flex-basis: 100%;
}

.history h2{
    margin-bottom: 1em;
}

.history,
.for-you,
.artists{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.history > div,
.for-you > div,
.artists > div{
    margin: 1em 0.6em 0 0;
    flex-basis: calc(50% - 0.6em);
    text-align: center;
}

.artists > div img{
    border-radius: 50%;
}

.home > div div{
    color: #fff;
    font-size: 0.6rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0.5em 0;
}

.history > div span:last-of-type{
    color: #686a70;
    font-size: 0.4rem;
    font-weight: 700;
    display: block;
    text-transform: capitalize;
}

.for-you span,
.artists span{
    color: #686a70;
    font-size: 0.5rem;
    font-weight: 700;
    margin: 1em 0 2em;
}

.player-menu{
    width: 100vw;
    height: 10vh;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.player-menu > div:last-of-type{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
}

.player-menu > div:last-of-type i:last-of-type{
    margin-left: 0.7em;
}

.playing{
    flex-basis: 25%;
    display: flex;
    margin-right: 1em;
}

.song-details span:first-of-type{
    color: #fff;
    font-weight: 700;
    font-size: 0.5rem;
}

.song-details span:nth-of-type(2),
.song-details span:last-of-type{
    color: #686a70;
    font-size: 0.35rem;
    display: block;
    font-weight: 700;
}

.playing > div div:last-of-type{
    flex-basis: 20%;
    font-size: 0.6rem;
}

.playing i{
    display: block;
    font-size: 0.4rem;
    margin-bottom: 0.5em;
}

.playing img{
    width: 60%;
    margin: 0.3em 0.5em;
}

.player{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.player span{
    flex-basis: calc(15% - 0.6em);
    font-size: 0.5rem;
    color: #fff;
}

.player span:first-of-type{
    margin-right: 0.2em;
}

.player span:last-of-type{
    margin-left: 0.2em;
}

.player > div:first-of-type{
    flex-basis: 100%;
    margin-bottom: 0.4em;
    display: flex;
    justify-content: space-between;
}

.fa-shuffle,
.fa-backward-step,
.fa-forward-step,
.fa-rotate-right,
.fa-list-ul,
.fa-tv{
    font-size: 0.7rem;
}

.fa-circle-play{
    font-size: 1.4rem;
}

.progress-area{
    height: 0.4em;
    flex-basis: 70%;
    margin: 0 auto;
    background-color: #686a70;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.progress-bar{
    height: inherit;
    width: 20%;
    position: relative;
    border-radius: inherit;
    background-color: #fff;
}

.progress-bar:hover:before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-radius: inherit;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
}

.progress-bar:hover{
    background-color: green;
}

/* MOBILE DISPLAY NONE */
.side-nav > img,
.side-nav-top li span,
.playlist,
.side-nav-bottom span{
    display: none;
}

/* MEDIA */
@media screen and (min-width: 400px) and (max-width: 750px){
    .side-nav{
        width: 35vw;
        justify-content: flex-start;
    }

    .side-nav > img{
        display: unset;
        width: 60%;
        margin: 1em 30% 1.5em 10%;
    }

    .side-nav-top li:first-of-type{
        display: none;
    }

    .side-nav a{
        color: #fff;
        font-weight: 700;
    }
    
    .side-nav ul li{
        margin: 0.3em 0;
    }

    .side-nav-top{
        margin-bottom: 1em;
    }
    
    .side-nav-top li span{
        display: unset;
        font-size: 0.8rem;
    }

    .side-nav-top img{
        width: 4vw;
        margin: 0em 0vw 0 3vw;
        vertical-align: middle;
    }

    .playlist{
        display: unset;
        color: #fff;
        width: 80%;
        margin: 0 10% 0 3vw;
    }

    .playlist h2{
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 1em;
    }

    .fa-square-plus{
        font-size: 1rem;
        color: #fff;
        vertical-align: middle;
    }

    .playlist div:first-of-type span{
        font-size: 0.8rem;
        margin-left: 0.5em;
        font-weight: 700;
    }

    .playlist-list{
        overflow-y: scroll;
        height: 30vh;
        margin: 1em 0;
    }

    .playlist-list a{
        margin: 0.2em 0;
        font-size: 0.8rem;
    }
    
    .side-nav-bottom li:first-of-type a{
        color: #686a70;
    }

    .side-nav-bottom span{
        display: unset;
    }
    
    .side-nav-bottom img{
        width: 4vw;
        margin: 0 0.3em 0 3vw;
        vertical-align: middle;
    }

    .side-nav-bottom li:last-of-type a{
        font-size: 0.8rem;
        border-top: 1px solid #686a70;
        width: 80%;
        margin: 0 10% 0 3vw;
        padding: 1em 0;
    }
    
    main{
        width: 65vw;
    }

    .upgrade{
        left: 25vw;
    }

    .section-menu{
        margin-top: 18%;
    }
    
    .section-menu ul li{
        margin: 0 1.5% 4%;
    }
    
    .section-menu ul li a{
        font-size: 0.65rem;
    }

    .home{
        width: 90%;
        margin: 0.6em auto 0;
    }
    
    .home img{
        width: 100%;
    }
    
    .home h2{
        font-size: 1.1rem;
    }
    
    .history h2{
        margin-bottom: 1em;
    }
    
    .history > div{
        flex-basis: calc(33% - 0.6em);
    }

    .for-you > div,
    .artists > div{
        flex-basis: 40%;
    }
    
    .home > div div{
        font-size: 0.65rem;
    }

    .history > div span:last-of-type{
        font-size: 0.5rem;
    }
    
    .for-you span,
    .artists span{
        font-size: 0.65rem;
    }
    
    .player-menu > div:last-of-type{
        flex-basis: 20%;
    }
    
    .playing{
        flex-basis: 30%;
    }
    
    .song-details span:first-of-type{
        font-size: 1rem;
    }

    .song-details{
        margin: 1em 1.5em 1em 0;
    }
    
    .song-details span:nth-of-type(2),
    .song-details span:last-of-type{
        font-size: 0.55rem;
    }
    
    .playing img{
        width: 50%;
        margin: 1em 0em 0 1.5em;
    }
    
    .player{
        flex-basis: 50%;
    }

    .fa-shuffle,
    .fa-backward-step,
    .fa-forward-step,
    .fa-rotate-right,
    .fa-list-ul,
    .fa-tv{
        font-size: 0.85rem;
    }

    .fa-circle-play{
        font-size: 1.6rem;
    }

    .progress-bar{
        width: 40%;
    }
}

@media screen and (min-width: 750px) and (max-width: 1024px){
    .side-nav{
        width: 25vw;
    }

    .side-nav > img{
        display: unset;
        width: 50%;
        margin: 1em 30% 1.5em 10%;
    }

    .side-nav-top li:first-of-type{
        display: none;
    }

    .side-nav a{
        color: #fff;
        font-weight: 700;
    }
    
    .side-nav ul li{
        margin: 0.3em 0;
    }

    .side-nav-top{
        margin-bottom: 1em;
    }
    
    .side-nav-top li span{
        display: unset;
        font-size: 0.8rem;
    }

    .side-nav-top img{
        width: 3.5vw;
        margin: 0em 0vw 0 3vw;
        vertical-align: middle;
    }

    .playlist{
        display: unset;
        color: #fff;
        width: 80%;
        margin: 0 10% 0 3vw;
    }

    .playlist h2{
        font-size: 0.9rem;
        text-transform: uppercase;
        margin-bottom: 1em;
    }

    .fa-square-plus{
        font-size: 1.8rem;
        color: #fff;
        vertical-align: middle;
    }

    .playlist div:first-of-type span{
        font-size: 0.8rem;
        margin-left: 0.5em;
        font-weight: 700;
    }

    .playlist-list{
        overflow-y: scroll;
        height: 30vh;
        margin: 1em 0;
    }

    .playlist-list a{
        margin: 0.2em 0;
        font-size: 0.8rem;
    }
    
    .side-nav-bottom li:first-of-type a{
        color: #686a70;
    }

    .side-nav-bottom span{
        display: unset;
    }
    
    .side-nav-bottom img{
        width: 4vw;
        margin: 0 0.3em 0 3vw;
        vertical-align: middle;
    }

    .side-nav-bottom li:last-of-type a{
        font-size: 0.8rem;
        border-top: 1px solid #686a70;
        width: 80%;
        margin: 0 10% 0 3vw;
        padding: 1em 0;
    }
    
    main{
        width: 75vw;
    }

    .upgrade{
        left: 35vw;
    }

    .section-menu{
        margin-top: 18%;
    }
    
    .section-menu ul li{
        margin: 0 1.5% 4%;
    }
    
    .section-menu ul li a{
        font-size: 0.65rem;
    }

    .home{
        width: 90%;
        margin: 0.6em auto 0;
    }
    
    .home img{
        width: 100%;
    }
    
    .home h2{
        font-size: 1.1rem;
    }
    
    .history h2{
        margin-bottom: 1em;
    }
    
    .history > div{
        flex-basis: calc(33% - 0.6em);
    }

    .for-you > div,
    .artists > div{
        flex-basis: 40%;
    }
    
    .home > div div{
        font-size: 0.65rem;
    }

    .history > div span:last-of-type{
        font-size: 0.5rem;
    }
    
    .for-you span,
    .artists span{
        font-size: 0.65rem;
    }
    
    .player-menu > div:last-of-type{
        flex-basis: 20%;
    }
    
    .playing{
        flex-basis: 30%;
    }
    
    .song-details span:first-of-type{
        font-size: 1rem;
    }

    .song-details{
        margin: 1em 1.5em 1em 0;
    }
    
    .song-details span:nth-of-type(2),
    .song-details span:last-of-type{
        font-size: 0.55rem;
    }
    
    .playing img{
        width: 50%;
        margin: 1em 0em 0 1.5em;
    }
    
    .player{
        flex-basis: 50%;
    }

    .fa-shuffle,
    .fa-backward-step,
    .fa-forward-step,
    .fa-rotate-right,
    .fa-list-ul,
    .fa-tv{
        font-size: 0.85rem;
    }

    .fa-circle-play{
        font-size: 1.6rem;
    }

    .progress-bar{
        width: 40%;
    }
}