@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
}

i {
  color: #fff;
}

.mb-1 {
  margin-bottom: 1em;
}

/* BODY */
.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-nav {
  width: 10vw;
  height: 90vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.side-nav .side-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-nav .side-nav ul li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-nav__top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-nav__img-top {
  width: 6vw;
  margin: 0.5em 2vw 0;
}

.side-nav__bottom li:first-of-type a {
  color: #fff;
  margin: 1.5em 1.15em;
  font-size: 0.6rem;
}

.side-nav__img-bottom {
  width: 5vw;
  margin: 0 2.5vw 0.5em;
  background-color: #808080;
  border-radius: 50%;
  padding: 0 1px;
}

main {
  width: 90vw;
  height: 90vh;
  background-color: #141922;
  overflow-y: auto;
}

main .upgrade {
  background-color: rgba(0, 0, 0, 0.4);
  height: 7%;
  position: fixed;
  top: 0;
  right: 0;
  left: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .upgrade__content {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 1em 2.5em;
  margin-right: 0.8em;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: 700;
}

main .upgrade-block {
  background-color: rgba(0, 0, 0, 0.1);
  height: 8%;
}

main .section-menu {
  margin-top: 0.5em;
}

main .section-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .section-menu__list-item {
  margin: 0 2% 4%;
  text-align: center;
}

main .section-menu__list-item-text {
  text-transform: uppercase;
  color: #686a70;
  font-weight: 700;
  font-size: 0.5rem;
}

main .home {
  width: 90%;
  margin: 0.6em auto 0;
}

main .home__img {
  max-width: 100%;
}

main .home__title {
  text-transform: capitalize;
  color: #fff;
  font-size: 0.9rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main .home__subtitle {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main .home__item {
  margin: 1em 0.6em 0 0;
  -ms-flex-preferred-size: calc(50% - 0.6em);
      flex-basis: calc(50% - 0.6em);
  text-align: center;
}

main .home__item .item-title {
  color: #fff;
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0.5em 0;
}

main .home__history, main .home__for-you, main .home__artists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1em;
}

main .home .item-title.rounded {
  border-radius: 50%;
}

main .home__history > div span:last-of-type {
  color: #686a70;
  font-size: 0.4rem;
  font-weight: 700;
  display: block;
  text-transform: capitalize;
}

main .home__for-you span,
main .home__artists span {
  color: #686a70;
  font-size: 0.5rem;
  font-weight: 700;
  margin: 1em 0 2em;
}

.player-menu {
  width: 100vw;
  height: 10vh;
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player-menu__playing {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-menu__playing .playing-img-div {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.player-menu__playing .playing-img {
  width: 70%;
  max-width: 100%;
}

.player-menu__playing .song-details {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-menu__playing .song-details span:first-of-type {
  color: #fff;
  font-weight: 700;
  font-size: 0.6rem;
}

.player-menu__playing .song-details span:nth-of-type(2),
.player-menu__playing .song-details span:last-of-type {
  color: #686a70;
  font-size: 0.4rem;
  display: block;
  font-weight: 700;
}

.player-menu__playing .playing-buttons {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  font-size: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-menu__playing .playing-buttons i {
  padding-bottom: 1.5em;
}

.player-menu__player {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-menu__player .player-buttons {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-menu__player .player-buttons .fa-shuffle,
.player-menu__player .player-buttons .fa-backward-step,
.player-menu__player .player-buttons .fa-forward-step,
.player-menu__player .player-buttons .fa-rotate-right {
  font-size: 0.9rem;
}

.player-menu__player .player-buttons .fa-circle-play {
  font-size: 1.4rem;
}

.player-menu__player .player-progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5em;
}

.player-menu__player .player-progress-bar span {
  font-size: 0.5rem;
  color: #fff;
  width: 10%;
}

.player-menu__player .player-progress-bar span:first-of-type {
  padding-right: 0.5em;
}

.player-menu__player .player-progress-bar span:last-of-type {
  padding-left: 0.5em;
}

.player-menu__player .progress-area {
  height: 0.4em;
  width: 80%;
  background-color: #686a70;
  border-radius: 50px;
  cursor: pointer;
}

.player-menu__player .progress-bar {
  height: inherit;
  width: 20%;
  position: relative;
  border-radius: inherit;
  background-color: #fff;
}

.player-menu__player .progress-bar:hover:before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: inherit;
  top: 50%;
  right: -5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.player-menu__player .progress-bar:hover {
  background-color: green;
}

.player-menu__smart-functions {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-menu__smart-functions .fa-list-ul,
.player-menu__smart-functions .fa-tv {
  font-size: 0.9rem;
}

.player-menu__smart-functions i:last-of-type {
  padding-top: 0.7em;
}

/*!!!!!!!!!!!!!!! MAX-WIDTH:400PX DISPLAY NONE !!!!!!!!!!!!!!!!!!*/
.logo-big,
.side-nav__top li span,
.playlist,
.side-nav__bottom span,
.player-menu__volume i,
.overlay,
.overlay i,
.player-menu__playing div:last-of-type i:last-of-type {
  display: none;
}

/*!!!!!!!!!!!!!!!!!!!!!!! MEDIA !!!!!!!!!!!!!!!!!!!!!!!!!*/
@media screen and (min-width: 425px) and (max-width: 755px) {
  .side-nav {
    width: 35vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .side-nav .logo-big {
    display: unset;
    margin: 1em 30% 1.5em 0.8em;
    height: 5%;
  }
  .side-nav .logo-small {
    display: none;
  }
  .side-nav a {
    color: #fff;
    font-weight: 700;
  }
  .side-nav ul li {
    margin: 0.3em 0;
  }
  .side-nav li span {
    display: unset;
    font-size: 0.8rem;
  }
  .side-nav__img-bottom {
    width: 4vw;
    margin: 0 0.3em 0 4vw;
    vertical-align: middle;
  }
  .side-nav__top {
    height: 15%;
    overflow-y: auto;
    margin-bottom: 1em;
  }
  .side-nav__img-top {
    width: 4vw;
    margin: 0em 0vw 0 3vw;
    vertical-align: middle;
  }
  .side-nav .playlist {
    display: unset;
    color: #fff;
    width: 80%;
    margin: 0 10% 0 3vw;
    height: 60%;
  }
  .side-nav .playlist__title {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  .side-nav .playlist .fa-square-plus {
    font-size: 1rem;
    color: #fff;
    vertical-align: middle;
  }
  .side-nav .playlist__add {
    font-size: 0.8rem;
    margin-left: 0.5em;
    font-weight: 700;
  }
  .side-nav .playlist__list {
    overflow-y: scroll;
    height: 30vh;
    margin: 1em 0;
  }
  .side-nav .playlist__list a {
    margin: 0.2em 0;
    font-size: 0.8rem;
  }
  .side-nav__bottom {
    height: 15%;
  }
  .side-nav__bottom li:first-of-type {
    padding-left: 0.5em;
  }
  .side-nav__bottom li:first-of-type a {
    color: #686a70;
  }
  .side-nav__bottom li:last-of-type a {
    font-size: 0.8rem;
    border-top: 1px solid #686a70;
    width: 100%;
    margin: 0 10% 0 5vw;
    padding: 1em 0;
  }
  .side-nav__bottom span {
    display: unset;
  }
  main {
    width: 65vw;
  }
  main .upgrade-block {
    height: 8%;
  }
  main .upgrade {
    left: 35vw;
  }
  main .section-menu {
    margin-top: 1.2em;
  }
  main .section-menu__list-item {
    margin: 0 1.5% 4%;
  }
  main .section-menu__list-item-text {
    font-size: 0.65rem;
  }
  main .home__title {
    font-size: 1.1rem;
  }
  main .home__history main .home__title {
    margin-bottom: 1em;
  }
  main .home__item {
    -ms-flex-preferred-size: calc(33% - 0.6em);
        flex-basis: calc(33% - 0.6em);
  }
  main .home__item .item-title {
    font-size: 0.65rem;
  }
  main .home__item span:last-of-type {
    font-size: 0.5rem;
  }
  main .home__subtitle {
    font-size: 0.65rem;
  }
  .player-menu .song-details {
    padding-left: 0.3em;
  }
  .player-menu .song-details span:first-of-type {
    font-size: 0.75rem;
  }
  .player-menu .song-details span:nth-of-type(2),
  .player-menu .song-details span:last-of-type {
    font-size: 0.55rem;
  }
  .player-menu .player-buttons {
    font-size: 0.8rem;
  }
  .player-menu .player-buttons .fa-shuffle,
  .player-menu .player-buttons .fa-backward-step,
  .player-menu .player-buttons .fa-forward-step,
  .player-menu .player-buttons .fa-rotate-right {
    font-size: 1.2rem;
  }
  .player-menu .player-buttons .fa-circle-play {
    font-size: 1.8rem;
  }
  .player-menu .player-progress-bar span {
    font-size: 0.6rem;
  }
  .player-menu .fa-list-ul,
  .player-menu .fa-tv {
    font-size: 1.2rem;
  }
  .player-menu .progress-bar {
    width: 30%;
  }
  .player-menu__smart-functions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .player-menu__smart-functions i:last-of-type {
    padding-top: 0em;
    padding-left: 1.5em;
  }
}

@media screen and (min-width: 755px) and (max-width: 1024px) {
  .side-nav {
    width: 25vw;
  }
  .side-nav .logo-big {
    display: unset;
    width: 50%;
    margin: 1em 30% 1.5em 10%;
  }
  .side-nav .logo-small {
    display: none;
  }
  .side-nav a {
    color: #fff;
    font-weight: 700;
  }
  .side-nav ul li {
    margin: 0.3em 0;
  }
  .side-nav__img-top {
    width: 3.5vw;
    margin: 0em 0vw 0 3vw;
    vertical-align: middle;
  }
  .side-nav__img-bottom {
    width: 3vw;
    margin: 0 0.3em 0 3vw;
    vertical-align: middle;
  }
  .side-nav__top {
    margin-bottom: 1em;
  }
  .side-nav__top li span {
    display: unset;
    font-size: 0.8rem;
  }
  .side-nav .playlist {
    display: unset;
    color: #fff;
    width: 80%;
    margin: 0 10% 0 3vw;
  }
  .side-nav .playlist__title {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  .side-nav .playlist .fa-square-plus {
    font-size: 1.8rem;
    color: #fff;
    vertical-align: middle;
  }
  .side-nav .playlist__add {
    font-size: 0.8rem;
    margin-left: 0.5em;
    font-weight: 700;
  }
  .side-nav .playlist .playlist-list {
    overflow-y: scroll;
    height: 30vh;
    margin: 1em 0;
  }
  .side-nav .playlist a {
    margin: 0.2em 0;
    font-size: 0.8rem;
  }
  .side-nav__bottom li:first-of-type a {
    color: #686a70;
    margin: 1em 2em;
    font-size: 0.8rem;
  }
  .side-nav__bottom span {
    display: unset;
  }
  .side-nav__bottom li:last-of-type a {
    font-size: 0.8rem;
    border-top: 1px solid #686a70;
    width: 80%;
    margin: 0 10% 0 3vw;
    padding: 1em 0;
  }
  main {
    width: 75vw;
  }
  main .upgrade-block {
    height: 8%;
  }
  main .upgrade {
    left: 25vw;
  }
  main .section-menu {
    margin-top: 2em;
  }
  main .section-menu__list-item {
    margin: 0 1.5% 4%;
  }
  main .section-menu__list-item-text {
    font-size: 0.8rem;
  }
  main .home__title {
    font-size: 1.3rem;
  }
  main .home__history h2 {
    margin-bottom: 1em;
  }
  main .home__item {
    -ms-flex-preferred-size: calc(25% - 0.6em);
        flex-basis: calc(25% - 0.6em);
  }
  main .home__item div {
    font-size: 0.7rem;
  }
  main .home__history > div span:last-of-type {
    font-size: 0.55rem;
  }
  main .home__subtitle {
    font-size: 0.7rem;
  }
  .player-menu .song-details {
    padding-left: 0em;
  }
  .player-menu .song-details span:first-of-type {
    font-size: 0.9rem;
  }
  .player-menu .song-details span:nth-of-type(2),
  .player-menu .song-details span:last-of-type {
    font-size: 0.65rem;
  }
  .player-menu__playing {
    padding-left: 0.8em;
  }
  .player-menu__playing div:last-of-type {
    font-size: 0.9rem;
  }
  .player-menu__playing div:last-of-type i {
    padding-bottom: 1.8em;
    padding-right: 2em;
  }
  .player-menu .player > div:last-of-type span {
    font-size: 0.65rem;
  }
  .player-menu .player-buttons .fa-shuffle,
  .player-menu .player-buttons .fa-backward-step,
  .player-menu .player-buttons .fa-forward-step,
  .player-menu .player-buttons .fa-rotate-right {
    font-size: 1.3rem;
  }
  .player-menu .player-buttons .fa-circle-play {
    font-size: 1.9rem;
  }
  .player-menu .fa-list-ul,
  .player-menu .fa-tv {
    font-size: 1.3rem;
  }
  .player-menu .progress-bar {
    width: 30%;
  }
  .player-menu__smart-functions div:nth-of-type(3) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .player-menu__smart-functions > div:nth-of-type(3) i:last-of-type {
    padding-top: 0em;
    padding-left: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .side-nav {
    width: 15vw;
    height: 88vh;
  }
  .side-nav ul {
    height: 20vh;
  }
  .side-nav a {
    color: #fff;
    font-weight: 700;
  }
  .side-nav ul li {
    margin: 0.3em 0;
  }
  .side-nav .logo-big {
    display: unset;
    margin: 1em 30% 1.5em 0.5em;
    height: 5vh;
  }
  .side-nav .logo-small {
    display: none;
  }
  .side-nav__img-top {
    width: 1.5vw;
    margin: 0em 0vw 0 calc(1.5vw - 0.3em);
    vertical-align: middle;
    -webkit-filter: invert(42%) sepia(9%) saturate(248%) hue-rotate(187deg) brightness(94%) contrast(87%);
            filter: invert(42%) sepia(9%) saturate(248%) hue-rotate(187deg) brightness(94%) contrast(87%);
  }
  .side-nav__img-bottom {
    width: 2vw;
    margin: 0 0.3em 0 1.5vw;
    vertical-align: middle;
  }
  .side-nav__top {
    margin-bottom: 1em;
    overflow-y: auto;
  }
  .side-nav__top li span {
    display: unset;
    font-size: 0.8rem;
  }
  .side-nav .playlist {
    display: unset;
    color: #fff;
    width: 80%;
    margin: 0 10% 0 1.5vw;
    height: 50vh;
  }
  .side-nav .playlist__title {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  .side-nav .playlist .fa-square-plus {
    font-size: 1.8rem;
    color: #fff;
    vertical-align: middle;
  }
  .side-nav .playlist__add {
    font-size: 0.8rem;
    margin-left: 0.5em;
    font-weight: 700;
  }
  .side-nav .playlist .playlist-list {
    overflow-y: scroll;
    height: 15vh;
    margin: 1em 0;
  }
  .side-nav .playlist .playlist-list a {
    margin: 0.2em 0;
    font-size: 0.8rem;
  }
  .side-nav .playlist__bottom li:first-of-type a {
    color: #686a70;
    margin: 0 10% 0 5vw;
    font-size: 0.8rem;
    border-top: 1px solid #686a70;
    width: 80%;
    padding: 1em 0;
  }
  .side-nav .playlist__bottom span {
    display: unset;
  }
  .side-nav i,
  .playlist,
  .side-nav a,
  .playlisy__add,
  .fa-square-plus {
    color: #686a70;
  }
  main {
    width: 88vw;
  }
  main .upgrade-block {
    height: 11%;
  }
  main .upgrade {
    left: 14vw;
    height: 10%;
  }
  main .upgrade a {
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  main .upgrade a:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  main .upgrade span {
    font-size: 0.7rem;
    margin-right: 2em;
  }
  main .section-menu {
    margin-top: 3em;
  }
  main .section-menu__list-item {
    margin: 0 1.5% 4%;
  }
  main .section-menu__list-item-text {
    font-size: 1rem;
  }
  main .home__title {
    font-size: 1.5rem;
  }
  main .home__history h2 {
    margin-bottom: 1em;
  }
  main .home__history > div span:last-of-type {
    font-size: 0.55rem;
  }
  main .home__item {
    -ms-flex-preferred-size: calc(20% - 0.6em);
        flex-basis: calc(20% - 0.6em);
  }
  main .home__item div {
    font-size: 0.7rem;
  }
  main .home__subtitle {
    font-size: 0.7rem;
  }
  .player-menu {
    height: 12vh;
    width: 100%;
  }
  .player-menu__playing {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 1em;
  }
  .player-menu__playing .playing-img-div {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .player-menu__playing .playing-img-div .playing img {
    width: 70%;
  }
  .player-menu__playing .song-details {
    padding-left: 0em;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    padding-right: 1em;
  }
  .player-menu__playing .song-details span:first-of-type {
    font-size: 1rem;
  }
  .player-menu__playing .song-details span:nth-of-type(2),
  .player-menu__playing .song-details span:last-of-type {
    font-size: 0.7rem;
  }
  .player-menu__playing .playing-buttons {
    font-size: 1.1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .player-menu__playing .playing-buttons i {
    padding-bottom: 1.8em;
    padding-right: 1em;
  }
  .player-menu__playing .playing-buttons i:last-of-type {
    display: unset;
  }
  .player-menu__player {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .player-menu__player .player-progress-bar {
    padding-top: 1em;
  }
  .player-menu__player .player-progress-bar span {
    font-size: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 6%;
  }
  .player-menu__player .player-progress-bar span:first-of-type {
    padding-right: unset;
  }
  .player-menu__player .player-progress-bar .progress-area {
    width: 88%;
  }
  .player-menu__player .player-progress-bar .progress-bar {
    width: 30%;
  }
  .player-menu__player .playing-buttons .fa-shuffle,
  .player-menu__player .playing-buttons .fa-backward-step,
  .player-menu__player .playing-buttons .fa-forward-step,
  .player-menu__player .playing-buttons .fa-rotate-right {
    font-size: 1.6rem;
  }
  .player-menu__player .playing-buttons .fa-circle-play {
    font-size: 2.5rem;
  }
  .player-menu .fa-list-ul,
  .player-menu .fa-tv {
    font-size: 1.6rem;
  }
  .player-menu__smart-functions {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0.5em;
  }
  .player-menu__smart-functions i:last-of-type {
    padding-top: 0em;
    padding-left: 1.5em;
  }
  .player-menu__volume {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    margin: 0 1em 0 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .player-menu__volume i {
    display: unset;
  }
  .player-menu__volume .volume-bar {
    height: 0.4em;
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
    margin: 0 auto;
    background-color: #686a70;
    border-radius: 50px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .player-menu__volume .volume-bar .volume-range {
    height: inherit;
    width: 80%;
    position: relative;
    border-radius: inherit;
    background-color: #fff;
  }
  .player-menu__volume .volume-bar .volume-range:hover:before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-radius: inherit;
    top: 50%;
    right: -5px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .side-nav a:hover,
  .side-nav-top img:hover,
  .playlist div:first-of-type:hover,
  .playlist-list a:hover,
  .side-nav-bottom span:hover,
  .side-nav-bottom i:hover,
  .playlist div:first-of-type i:hover,
  .playlist div:first-of-type span:hover {
    color: #fff;
    -webkit-filter: unset;
            filter: unset;
  }
  .overlay {
    display: unset;
  }
  .home__item div {
    position: relative;
  }
  .overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 5px;
    bottom: 8px;
    left: 0;
    right: 0;
  }
  .overlay i {
    display: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.5);
  }
  .artists .overlay {
    border-radius: 50%;
  }
  .home__item div:hover .overlay,
  .home__item div:hover .overlay i {
    display: unset;
  }
  .side-nav-top a:hover {
    border-left: 2px solid green;
    padding-left: 0.3em;
  }
  .section-menu ul li a:hover {
    color: #fff;
    padding-bottom: 0.3em;
    border-bottom: 2px solid green;
  }
  .volume-range:hover {
    background-color: green;
  }
}
/*# sourceMappingURL=style.css.map */